#version: v1.21.2+k3s1
version: v1.24.3+k3s1
master: 10.0.0.12
cmdlinefile: /boot/firmware/cmdline.txt # ubuntu
#cmdlinefile: /boot/cmdline.txt # raspbian
cmdlinecontents: 'cgroup_memory=1 cgroup_enable=memory'
pubkey: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
default_user: ubuntu
default_user_default_pass: ubuntu
default_user_new_pass: temporary111
k3sup_download_location: /tmp/k3sup.installer
helm_url: https://get.helm.sh/helm-v3.9.3-linux-arm64.tar.gz 
helm_file: ./helm.tar.gz
helm_dest: helm_installer
helm_unarchived_executable_path: linux-arm64/helm
helm_bin_path: /usr/local/bin/helm